@charset "ISO-8859-1";


body{
	display:flex;
	flex-direction: column;
}

#user-details{
	display: flex;
    justify-content: center;
    align-items: center;
	    
}

#calendario{
	margin-bottom:5%;
}

.card-body{
	flex-direction: column;
}


.cointainer{
	
	width:70%;
}

.title{
	display: flex;
    justify-content: center;
}



.other{
	display:flex;
	flex-direction:column;
	padding-left:10%;
}

#giorni{
   display:flex;
   gap: 1px;
}

#mese #anno #oraI #oraF{
	height:50%;
}

