@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	list-style: none;
	text-decoration: none;
}

body{
    background-image: url(../images/sfondo_form_vario.png);
    height: 94vh;
}

.container {
	border-bottom-color: rgb(55, 238, 177);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	width: 100%;
	height: 50px;
	padding: 0px 10%;
	position: relative;
	left: 0;
    background-color: white;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.25), 0 5px 5px
    rgba(0, 0, 0, 0.22);
    
}

.container .logo a {
	font-size: 27px;
	color: rgb(55, 238, 177);
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	position: relative;
	text-transform: capitalize;
	left: 0;
	top: 5px;
}

.container ul.nav {
	list-style-type: none;
	padding-left: 10%;
	display: inline-block
}

.container>ul>li {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	transition: all 0.3s;
}

.container>ul>li>a {
	color: rgb(55, 238, 177);
	font-size: 14px;
	font-weight: 500;
	line-height: 50px;
	display: inline-block;
	text-transform: none;
	letter-spacing: 1px;
	padding: 0 12px;
}

.container>ul>li::after {
	content: "|";
	display: block;
	position: absolute;
	margin: auto;
	top: -20px;
	right: -5px;
	bottom: 0px;
	width: 8px;
	height: 8px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	text-rendering: auto;
	color: #3eccf0;
}

.container>ul>li:last-child::after {
	display: none;
}

.container  ul>li:hover {
	background-color: #f2f6f7;
}



.container>ul>li.parent>a::after {
	content: '\f107';
	font-family: FontAwesome;
	float: right;
	margin-left: 5px;
}

.container>ul>li>ul {
	position: absolute;
	background: #f2f6f7cc;
	top: 100%;
	left: 0;
	min-width: 180px;
	padding: 0;
	z-index: 99;
	margin-top: 0;
	transform: translateY(10px);
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
}

.container>ul>li>ul>li {
	display: block;
	float: none;
	text-align: left;
	position: relative;
	border-bottom: 1px solid;
	border-top: none;
	border-color: #555D7D;
}

.ciao {
	display: flex;
	align-items: center;
	padding-left: 43%;
	padding-top: 8px;
}

.container>ul>li>ul>li>a {
	font-size: 11px;
	display: block;
	color: black; /*maybe white*/
	line-height: 35px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
	padding: 0 12px;
	border-right: 0;
	border: 0;
}

.container>ul>li>ul>li>ul {
	text-align: center;
	position: absolute;
	top: 0;
	left: 180px;
	width: 180px;
	height: 36px;
	background-color: #f2f6f7;
	z-index: 99;
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	border-left: 1px solid #ffffff;
	transform: translateY(10px);
	transition: all 0.5;
	visibility: hidden;
	opacity: 0;
}

.container>ul>li>ul>li.parent>a::after {
	content: '\f107';
	float: right;
}

.container ul li:hover>ul {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}

#wrapper{
margin: 10px 10px 10px 10px;

}




.aggD {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 10%;
	background-color: transparent;
	border-color: transparent;
	transform: translateY(60px);
}

.App{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 5px 5px 5px 5px;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(55, 238, 177);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.25), 0 5px 5px
    rgba(0, 0, 0, 0.22);
    background-color: white;
    padding: 5px 10px 5px 10px;
}

.Colonna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0px 5px 0px 5px;
    height: auto;
    width: auto;

}

.tabellaApp {
	display: flex;
	flex-direction: column;
	width: 100%;
    height: 85%;
    
}



.nomeColonna{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}



.btnApp{
background-color: transparent;
border-color: transparent;

}




.tooltip {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 30px;
}