@charset "ISO-8859-1";


#staffReg{
    margin-left:48%;
    transform: translateY(-30px);
    

}

#agg{
    margin-left:3%
}


a{
    color:white;
}


a:hover{
    color:white;
}