@charset "ISO-8859-1";

*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
     font-family: 'Poppins' sans-serif;
     
     
    
}


#wrapper{
	margin-top: 5%;
	display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-x: hidden;
    overflow-y: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

body{
    display: flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url(../images/sfondo_form_vario.png);

}

.tooltip{
	padding-top: 10%;
}


.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(55, 238, 177);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(255 255 255 / 25%), 0 5px 5px rgb(0 0 0 / 22%);
    background-color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 10%;
}

.card-header{
    border-color: transparent;
    background-color: transparent;
}

#titoloScheda{
    color: rgb(55, 242, 177);
    text-shadow: 2px 0 0 cornflowerblue;
}

.btn{
    border-radius: 20px;
    border: 1px solid rgb(55, 242, 177);
    background-color: white;
    color: rgb(55, 242, 177);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#aggiungi{
	display: flex;
    justify-content: center;
    margin-top: 2%;
}



#oraridoc{
	display:flex;
	justify-content:center;
}


.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background: rgb(55, 238, 177);
    color: rgb(255, 255, 255);
    border-color: white;
}

#btntorna{
	width:100%;
	display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 3%;
}




.container{
    justify-content:center;
    max-width: 700px;
    width: 100%;
    background:white ;
    border-radius: 10px;
    border-style:ridge;
    border-color: rgb(55, 242, 177);
    border-width: 2px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0,0,0,0.22);
   
    

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    
}

.container .title::before{
    content: '' ;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(#ffffe0,#b0e0e6 );

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;


}


.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;


}

#agg{
    color: rgb(55, 242, 177);
    text-shadow: 2px 0 0 cornflowerblue;
}


#scritte{
	display: flex;
    flex-direction: column;
    align-items: center;
}






form .button{
    height: 45px;
    margin: 45px 0;
    border-radius: 10px;
    border-style:ridge;
    border-width: 2px;
    border-color:#3eccf0;

}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background:  rgb(55, 242, 177);
    border-radius: 10px;

}

form .button input:hover{
    background:  #78d7e4 ;
}


.form-control{
    border-radius: 20px;
}

